{% extends "blog2app/base.html" %}
{% load staticfiles %}

{% block main_block %}

<!-- Main -->
    <div id="main">

        <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="#">{{ article.name }}</a></h2>
                        <p>{{ article.description }}</p>
                    </div>
                    <div class="meta">
                        <time class="published">{{ article.pub_date }}</time>
                    </div>
                </header>
                <span class="image featured"><img src="{{ article.image.url }}" alt="" /></span>
                <p>{{ article.body_text }}</p>
                <footer>
                    <ul class="stats">
                        <li><a href="/blog2app/add_like/{{ article.id }}/?next={{ request.get_full_path }}" class="icon fa-heart">{{ article.quantity_likes }}</a></li>
                        <li><a href="/" class="icon fa-comment">{{ article.quantity_comments }}</a></li>
                    </ul>
                </footer>

        <!-- Show Comments -->
                <h3>Comments</h3>
                {% if not comments %}
                    <p>Comments weren't add.</p>
                {% else %}
                    {% for comment in comments %}
                        <ul class="icons">
                            <li><b >{{ comment.user }}</b></li>
                            <li><a href="" class="icon far fa-calendar">{{ comment.pub_datetime }}</a></li>
                        </ul>
                        <dd>
                            <p>{{ comment.text }}</p>
                        </dd>
                    {% endfor %}
                {% endif %}

        <!-- Add Comments -->
                <form method="post" action="/blog2app/article/add_comment/{{ article.id }}/?next={{ request.get_full_path }}" class="alt">
                    {% csrf_token %}
                    <h3>Add Comment</h3>
                    {% if user.is_authenticated %}
                    <div class="row uniform">
                        <div class="12u$">
                            <textarea name="text" id="text" placeholder="Enter your comment" rows="6"></textarea>
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <ul class="actions">
                                <li><input type="submit" value="Add Comment" class="special" /></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <p>Comments can be posted only by registered users. LogIn Please.</p>
                    <div class="12u$">
                    <ul class="actions">
                        <li><a href="/blog2app/login" class="button">LogIn</a></li>
                        <li><a href="/blog2app/registration" class="button">Registration</a></li>
                    </ul>
                </div>
                    {% endif %}
                </form>
            </article>
{% endblock %}