{% load staticfiles %}

<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Simple blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'blog2app/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'blog2app/assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'blog2app/assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'blog2app/assets/css/ie8.css' %}" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">Home page</a></h1>
						<nav class="links">
							<ul>
								<li><a href="/blog2app/category/First">Sport</a></li>
								<li><a href="/blog2app/category/Work">Work</a></li>
								<li><a href="/blog2app/category/Friends">Friends</a></li>
								<li><a href="/blog2app/category/Food">Food</a></li>
							</ul>
						</nav>
						<nav class="main">
                            {% if user.is_authenticated %}
                                <h1><a href="/blog2app/logout">LogOut</a></h1>
							{% else %}
                                <h1><a href="/blog2app/login">LogIn/Registration</a></h1>
                            {% endif %}
                        </nav>
					</header>

                {% block main_block %}

                    <!-- Main -->

                {% endblock %}


						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="/" class="fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="/" class="fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="/" class="fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="/" class="fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="/" class="fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

		<!-- Scripts -->
			<script src="{% static 'blog2app/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'blog2app/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'blog2app/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'blog2app/assets/js/main.js' %}"></script>

	</body>
</html>
