{% extends "blog2app/base.html" %}
{% load staticfiles %}

{% block main_block %}
<div id="main">
    <section>

        <h3>Log In</h3>

        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="#">
            {% csrf_token %}
            <div class="row uniform">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="username" id="username" value="" placeholder="Username" />
                    <h3></h3>
                    <input type="password" name="password" id="password" value="" placeholder="Password" />
                </div>

                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Log In" /></li>
                        <li><a href="/blog2app/registration" class="button">Registration</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
{% endblock %}