{% extends "blog2app/base.html" %}
{% load staticfiles %}

{% block main_block %}

				<!-- Main -->
					<div id="main">

						<!-- Post -->
                        {% for article in articles %}
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="/blog2app/article/{{ article.id }}/">{{ article.name }}</a></h2>
										<p>{{ article.description }}</p>
									</div>
									<div class="meta">
										<time class="published">{{ article.pub_date }}</time>
									</div>
								</header>
								<a href="/blog2app/article/{{ article.id }}/" class="image featured"><img src="{{ article.image.url }}" alt="" /></a>
								<p>{{ article.body_text|truncatewords:35 }}</p>
								<footer>
									<ul class="actions">
										<li><a href="/blog2app/article/{{ article.id }}/" class="button big">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="/blog2app/add_like/{{ article.id }}/?next={{ request.get_full_path }}" class="icon fa-heart">{{ article.quantity_likes }}</a></li>
										<li><a href="/blog2app/article/{{ article.id }}/" class="icon fa-comment">{{ article.quantity_comments }}</a></li>
									</ul>
								</footer>
							</article>
                        {% endfor %}



						<!-- Pagination -->

                            <div class="pagination">
                                <ul class="actions pagination">
                                    <!-- перевіряємо наявність попередньої сторінки -->
                                    {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}" class="button big previous">Previous Page</a></li>
                                    {% else %}
                                    <li><a href="" class="disabled button big previous">Previous Page</a></li>
                                    {% endif %}
                                    <!-- вивід отриманого списку сторінок для пагінації -->
                                    {% for page in list_pages %}
                                        {% if page == page_obj.number %}
                                            <li><a href="?page={{ page }}" class="button big">{{ page }}</a></li>
                                        {% else %}
                                            <li><a href="?page={{ page }}" class="disabled button big">{{ page }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    <!-- перевіряємо наявність наступної сторінки сторінки -->
                                    {% if page_obj.has_next %}
                                        <li><a href="?page={{ page_obj.next_page_number }}" class="button big next">Next Page</a></li>
                                    {% else %}
                                        <li><a href="" class="disabled button big next">Next Page</a></li>
                                    {% endif %}
                                </ul>
        					</div>
                        </div>


				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="../../static/blog2app/images/logo.jpg" alt="" /></a>
								<header>
									<h2>Future Imperfect</h2>
									<p>Another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Categories -->
                                        {% for category in categories %}
										<article class="mini-post">
											<header>
												<h3><a href="/blog2app/category/{{ category.name }}">{{ category.name }}</a></h3>
												<h4><a href="/blog2app/category/{{ category.name }}">{{ category.description }}</a></h4>
											</header>
											<a href="/blog2app/category/{{ category.name }}" class="image"><img src="{{ category.image.url }}" alt="" /></a>
										</article>
                                        {% endfor %}
								</div>
							</section>


						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
								<ul class="actions">
									<li><a href="/" class="button">Learn More</a></li>
								</ul>
							</section>

			{% endblock %}