{% extends "blog2app/base.html" %}
{% load staticfiles %}

{% block main_block %}
<div id="main">
    <section>

        <h3>Registration</h3>

        {% if form.errors %}
        <p>Data is incorrect. Please try again.</p>
        {% endif %}

        <form method="post" action="#">
            {% csrf_token %}
            <div class="row uniform">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="username" id="username" value="" placeholder="Username" />
                    <h3></h3>
                    <input type="password" name="password" id="password" value="" placeholder="Password" />
                    <h3></h3>
                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                </div>

                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Registration" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
{% endblock %}